* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'SUIT', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

#header {
    width: 100%;
    background-color: #929685;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.header_inner {
    margin: 0 auto;
    justify-content: space-between;
    display: flex
}

.go li {
    padding: 30px 25px;
}

.gnb li {
    padding: 20px;
}

.header_inner ul {
    display: flex;
}

.header_inner ol {
    display: flex;
}

.go {
    font-size: 20px;
}

#main_banner {
    width: 100%;
}

#content {

    background-color: #dfd7ce;
    padding-bottom: 100px;
}

.content_inner {
    width: 1200px;
    margin: 0 auto;

}

.flex_box {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.box1,
.box2,
.box3,
.box4 {
    width: 600px;

}

.text1,
.text2,
.text3,
.text4 {
    width: 600px;
    color: #54341d;
    width: 600px;
}

.text2 ul {
    display: flex;
    width: 350px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}


.text1 h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text1 h3 {
    padding-bottom: 20px;
}

.text1 p {
    padding-top: 20px;
}

.text2 h2 {
    padding-top: 50px;
}

.text2 p {
    padding-top: 10px;
}

.text3 h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text3 img {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text4 h2 {
    padding-top: 180px;
}

.text4 img {
    padding-top: 20px;
    padding-bottom: 20px;
}

#more {
    margin: 0 auto;
    background-color: #dfd7ce;
    background-image: url(./about_images/more/more_back.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 360px;
}

.more_box {
    width: 800px;
    margin: 0 auto;
}

.more_text {
    text-align: center;
    color: #e5e6e3;
}

.more_text p {
    padding-top: 30px;
    padding-bottom: 20px;
}

#click {
    width: 100%;
    background-color: #929685;
}

.click_inner p {
    padding-top: 15px;
    color: #dfd7ce;
}

.click_inner {
    width: 1320px;
    margin: 0 auto;
}

.click_inner ul {
    margin: 0 auto;
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    text-align: center;

}

#footer {
    background-color: #595d4e;
}

.footer_inner li {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.footer_inner {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #dfd7ce;
}